*.DS_Store
*.gem
*.orig
*.rbc
*.rbenv-version
*.ruby-version
*.scssc
*.sublime-*
*.swp
*.swo
.bundle
.config
.grunt
.idea
.sass-cache/*
.yardoc

bower_components
node_modules

*.orig
node_modules
*.scssc
*.rbenv-version
*.ruby-version
/docs2/public/*
.settings
.project

npm-debug.log
